<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="StreamAPI" value="https://usso-1.api.microsoftstream.com"/>
        <add key="StartPageIndex" value="0"/>
    </appSettings>
</configuration>